@import './var.module.scss';

@mixin fixedBackImage ($myUrl) {
    background: url($myUrl);
    background-size: cover;
    background-attachment: fixed;
}

@mixin flexSettings (
    $fd: column,
    $jc: space-around,
    $ai: stretch,
    $fb: 100%,
    $wp: nowrap,
    $ord: 0
) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
    flex-basis: $fb;
    wrap: $wp;
    order: $ord;
}

@mixin fontSettings (
    $fsz: 25px,
    $fst: normal,
    $ffm: 'Times New Roman',
    $fwg: lighter,
    $clr: black
) {
    font-size: $fsz;
    font-style: $fst;
    font-family: $ffm;
    font-weight: $fwg;
    color: $clr;
}

@mixin borderSettings (
    $wdt: 2px,
    $rad: 1px,
    $clr: black
) {
    border: $wdt solid $clr;
    border-radius: $rad;
}

@mixin header1 {
    text-align: center;
    @include fontSettings(
        $fsz: 50,
        $fst: normal,
        $ffm: Arial,
        $fwg: bold,
        $clr: white
    );
}

@mixin myLink(
    $firstColor: white,
    $secondColor: rgb(101, 141, 233)
) {
    text-decoration: none;
    @include fontSettings(
        $fsz: 30px,
        $clr: $firstColor
    );
    &:hover {
        color: $secondColor;
    }
    &:active { 
        color: $secondColor;
        text-shadow: 0px 0px 4px 4px black;
    }
}
