@import './styleModules/var.module.scss';
@import './styleModules/mixins.module.scss';

.back {
    @include fixedBackImage("../images/winter_bc.jpg");
    width: 100%;
    height: 100%;
    @include flexSettings (
        $fd: row,
        $jc: space-around,
        $ai: center,
    );
}

.content {
    margin-bottom: 610px;
    margin-top: 2rem;
    background: $contrastColor;
    border: 3px solid rgb(47, 50, 255);
    border-radius: 20px;
    font-weight: lighter;
    @include flexSettings ($fb: 60%);
}

#header1 {
    text-align: center;
    @include fontSettings(
        $fsz: 50,
        $fst: normal,
        $ffm: Arial,
        $fwg: bold,
        $clr: white
    );
}

@media (min-width: 2500px) {
    .content {margin-bottom: 5000px;}
}

