@import '../../styleModules/var.module.scss';
@import '../../styleModules/mixins.module.scss';

#header1 {
    @include header1;
}

.noProject {
    text-align: center;
    @include fontSettings(
        $fsz: 25px,
        $fst: normal,
        $ffm: Arial,
        $clr: white
    );
}
