@import '../../styleModules/var.module.scss';
@import '../../styleModules/mixins.module.scss';

fieldset {
    @include borderSettings (
        $wdt: 5px,
        $rad: 20px,
        $clr: $primaryColor
    );
}

legend {
    @include fontSettings (
        $fst: italic,
        $ffm: 'Times New Roman',
        $fwg: bold,
        $clr: white
    );
    @include borderSettings (
        $wdt: 5px,
        $rad: 10px,
        $clr: $primaryColor
    );
}

.newCase {
    font-size: 20;
    padding: 20px;
}
