@import '../../styleModules/var.module.scss';
@import '../../styleModules/mixins.module.scss';

#startHeader {
    @include header1;
}

#routerId {
    & > ul {
        list-style-type: none;
    }
}

.route1 {
    @include myLink();
}


#mail_box {
    text-align: right;
    margin: 3px 12px 3px 12px;
}

#mail {
    color: #fcc75d;
	font-size: 20px;
	text-decoration: none;
}

#mail:hover {
    color: #f5e4c1;
    font-size: 22;
}

.authButtonBlock {
    background: linear-gradient(-20deg,  #8a847e, #a3a7cc);
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    @include borderSettings (
        $wdt: 2px,
        $rad: 5px,
        $clr: $primaryColor
    );
    @include flexSettings (
        $fd: row,
    ); 
}

.authElement {
    text-decoration: none;
    background: #00559b;
    padding: 5px;
    @include borderSettings (
        $wdt: 2px,
        $rad: 8px,
        $clr: rgb(90, 98, 124)
    );
    @include fontSettings (
        $fsz: 25px,
        $fwg: bold,
        $clr: white
    );
}

.authElement:hover {
    background: #158aeb;
    @include borderSettings (
        $wdt: 2px,
        $rad: 5px,
        $clr: rgb(36, 37, 39)
    );
}