.Button {
    background: rgb(33, 60, 211);
    width: 150px;
    height: 30px;
    color: white;
    border-radius: 10px;
    margin: 5px;
}

.Button:hover {
    background: rgb(0, 26, 73);
    position: relative;
    box-shadow: 0px 0px 8px 2px #0d09d6;
}