@import '../../styleModules/var.module.scss';
@import '../../styleModules/mixins.module.scss';

.content {
    margin-bottom: 1000px;
    margin-top: 2rem;
    background: $contrastColor;
    //border: 3px solid rgb(47, 50, 255);
    //border-radius: 20px;
    @include borderSettings(
        $clr: white,
        $rad: 20px,
        $wdt: 2px
    );
    font-weight: lighter;
    @include flexSettings ($fb: 60%);
}

@media (min-width: 2500px) {
    .content {margin-bottom: 5000px;}
}

.linkToHome {
    @include myLink();
    text-align: center;
}
